---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Friends";
---

<Layout title={pageTitle}>
  <h1>My Friends</h1>
  <p>This is where I will post about my journey learning Astro.</p>
</Layout>