---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Friends";
---

<Layout title={pageTitle}>
  <h1>My Friends</h1>
  <p>欢迎来到我的友链页，以下是一些我喜欢的博客或朋友的站点：</p>

  <ul class="friend-links">
    <li><a href="https://www.missingid.cloud/" target="_blank"><strong>Missing不想睡</strong></a>: 和我一起做赛博宵夜吧!</li>
    <li><a href="https://oaad.iceco.icu/" target="_blank"><strong>Muko</strong></a>: 我以前没的选，现在我想做个绝望的文盲。</li>
    <li><a href="https://good-luck.vercel.app/" target="_blank"><strong>落叶地</strong></a>: 思绪飘荡于此地</li>
    <li><a href="https://gregueria.icu/" target="_blank"><strong>谢谢所有的鱼</strong></a>: Hope my veins will bleed out of beautiful words.</li>
    <li><a href="https://mantyke.icu/" target="_blank"><strong>小球飞鱼</strong></a>: 我们会一起遇见鲸鱼吗？</li>
    <li><a href="https://akaito.xyz/" target="_blank"><strong>一片痴心俱成灰</strong></a>: 跳跃式移动，电波系发言。</li>
    <li><a href="https://blog.mysto.cyou/" target="_blank"><strong>咖啡冰河</strong></a>: 无感而发，随性而谈</li>
    <li><a href="https://bibli.info/" target="_blank"><strong>红豆年糕汤</strong></a>: 咯咯哒</li>
    <li><a href="https://mengru.space/" target="_blank"><strong>Mengru</strong></a>: Mengru在互联网上的小小角落</li>
    <li><a href="https://shixiaocaia.fun" target="_blank"><strong>Shixiaocaia</strong></a>: 道阻且长。</li>
    <li><a href="https://www.shingireservation.com/" target="_blank"><strong>手倦拋書午夢長</strong></a>: Some random stuff.</li>
    <li><a href="https://notion-next-six-henna.vercel.app/" target="_blank"><strong>漫游者某某号</strong></a>: 那么就向繁星更深处启程吧</li>
    <li><a href="https://sbeam.dev/" target="_blank"><strong>Sbeam.dev</strong></a>: Tech, life and open discussion</li>
    <li><a href="https://heiheihei.ca/" target="_blank"><strong>小触手的书房</strong></a>: 艺用笔记博客</li>
    <li><a href="https://graugris.icu/" target="_blank"><strong>呆呆不是槑</strong></a>: 梦想是实现旺仔牛奶自由</li>
    <li><a href="http://woods.sharktale.xyz/" target="_blank"><strong>一只脆脆鲨</strong></a>: 遇见一只脆脆鲨</li>
    <li><a href="http://sunnkynews.icu/" target="_blank"><strong>盐</strong></a>: 想要一块芝士碱水球吗</li>
    <li><a href="https://www.summeringway.icu/" target="_blank"><strong>晴空</strong></a>: 像鸟儿编辑它们的飞行一般书写。</li>
    <li><a href="https://turquoise.one/" target="_blank"><strong>一支咏叹调</strong></a>: SONGS ABOUT TURQUOISE</li>
    <li><a href="https://loli.fj.cn" target="_blank"><strong>绯鞠的博客</strong></a>: 一只爱折腾的绯鞠</li>
    <li><a href="https://naturaleki.one/" target="_blank"><strong>天堂错误文件</strong></a>: Across the street, cross one’s heart.</li>
    <li><a href="https://tortie.me/" target="_blank"><strong>Purrception</strong></a>: 谨慎观察(=‘ｘ‘=)</li>
    <li><a href="https://jiapingplus.icu/" target="_blank"><strong>次世嘉平</strong></a>: 为免天下无所适从</li>
    <li><a href="https://kageji.blog/" target="_blank"><strong>晷影空间站</strong></a>: 你的三分钟热度拖延症十级朋友。</li>
    <li><a href="https://trails-of-isara.vercel.app/" target="_blank"><strong>白花恋诗</strong></a>: 把最棒的吊桥效应献给你。</li>
    <li><a href="https://harushuura.vip/" target="_blank"><strong>春天与阿修罗</strong></a>: 食宇宙尘埃 或吐纳着空气和盐水。</li>
    <li><a href="https://notes.midofnowhere.link/" target="_blank"><strong>陆博学</strong></a>: Middle of Nowhere.</li>
    <li><a href="https://zhuzi.dev/" target="_blank"><strong>竹子</strong></a>: 普通路人。</li>
  </ul>
</Layout>