---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "蝴蝶曾在此处";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="self-note">
    <p>幸せは食べて、寝て、人生を楽しんで待て</p>
  </div>
</BaseLayout>

<script src="/random-highlight.js" defer></script>
