---
// BlogPost.astro
const { url, title, pubDate } = Astro.props;
---

<li class="post-item">
  <div class="post-header">
    <a href={url} class="post-title">{title}</a>
    <span class="post-date">
      {new Date(pubDate).toLocaleDateString('zh-CN')}
    </span>
  </div>
</li>