---
// Astro 计算逻辑保持不变
const platform = "mastodon";
const username = "food";
const startDate = new Date("2022-04-27");
const today = new Date();
const diffTime = today.getTime() - startDate.getTime();
const diffDays = Math.floor(diffTime / (1000 * 60 * 60 * 24));
---
<style>
  footer {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }

  footer p {
    margin: 0.2rem 0;
  }
</style>

<footer>
  <p>2022–2025｜Doodoo has been buzzing non-stop for {diffDays} days!</p>
</p>
</footer>