---
import Header from './Header.astro';
import Footer from './Footer.astro';
---

<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title><slot name="title" /></title>
  </head>
  <body>
    <div class="container">
      <Header />
      <slot />
      <Footer />
    </div>
  </body>
</html>