---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
  <p><em>{frontmatter.description}</em></p>
  <p>{frontmatter.pubDate.toString().slice(0,10)}</p>
  <slot />
</BaseLayout>

<style>
  /* 图片适应父容器宽度 */
  img {
    width: 100%;
    height: auto;
    display: block;
  }

  /* 正文字体不加粗 */
  body {
    font-weight: normal; /* 禁用加粗 */
  }

  /* 字数显示的样式 */
  p span {
    font-size: 0.9em;
    color: #888;
    margin-left: 1em;
  }
</style>
